:root {
  --v1: #334155;
  --v1-2: #64748b;
  --v2: #059669;
  --v3: #10B981;
  --v4: #34D399;
  --v5: linear-gradient(135deg, #059669 0%, #10B981 100%);
  --background1: linear-gradient(135deg, #fff 0%, #e8fdf6 50%, #fff 100%);
  --background2: #e8fdf6;
  --background3: linear-gradient(135deg, #DFFFF4 0%, #e8fdf6 50%, #DFFFF4 100%);
  --font-x: 500 0.875rem/1rem 'Poppins', sans-serif;
  --font-s: 400 1rem/1.5rem 'Poppins', sans-serif;
  --font-m: 500 1.125rem/1.5rem 'Poppins', sans-serif;
  --font-mb: bold 1.125rem/2.25rem 'Poppins', sans-serif;
  --font-l: 400 1.5rem/2.25rem 'Poppins', sans-serif;
  --font-xl: bold 2rem/2.5rem 'Poppins', sans-serif;
  --font-xxl: bold 4rem/4.5rem 'Poppins', sans-serif;
}

body {
  margin: 0rem;
  color: var(--v1);
  font-family: 'Poppins', sans-serif;
}

ul, li, a {
  text-decoration: none;
  display: inline;
  padding: 0px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px;
}

p {
  margin: 0rem;
}

header {
  background: var(--background1);
  display: flex;
  padding: 0rem 2rem;
  margin: 0rem 15rem;
  align-items: center;
  justify-content: space-between;
  position: sticky;
}

header nav ul {
  display: flex;
  gap: 4rem;
  align-items: center;
  font: var(--font-x);
}

.headerlist:hover {
  transition: .4s;
  color: var(--v4);
}
.headerlist:not(:hover){
  transition: .4s;
  color: var(--v1);
}

#botaoHeader {
  font: var(--font-x);
  color: var(--v1);
  cursor: pointer;
  padding: 0.25rem 1rem 0.25rem .5rem;
  background-color: var(--v3);
  border: none;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  gap: 0.875rem;
}

#botaoHeader::before {
  mask-image: url(.//img/DocIcon.svg);
  mask-size: cover;
  background-color: var(--v1);
  content: '';
  display: inline;
  width: 2rem;
  height: 2rem;
}

#botaoHeader:hover::before {
  transition: .5s;
  background-color: #fff;
}

#botaoHeader:hover {
  transition: .5s;
  background-color: var(--v2);
  color: #ffffff;
}

#botaoHeader:not(:hover){
  transition: .5s;
}

.projetos {
  margin-top: 6rem;
  max-width: 51rem;
  margin: 6rem 300px 0rem;
  text-align: center;
}

.projetos article:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.botaoProjetos {
  position: relative;
  font: var(--font-m);
  color: var(--v2);
  cursor: pointer;
  padding: 1rem 2rem;
  background-color: #fff;
  border: 1px solid var(--v2);
  border-radius: 0.25rem;
}

.botaoProjetos:hover {
  transition: .5s;
  background-color: var(--v2);
  color: #ffffff;
}

.botaoProjetos:not(:hover){
  transition: .5s;
}

.projetos article h1 span:nth-child(1){
  display: block;
  background-image: var(--v5);
  color: transparent;
  background-clip: text;
}

#article2 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 2rem 0rem 4rem;
}

#tiposProjetos {
  display: flex;
  justify-content: center;
  margin: 0rem auto;
  gap: 3rem;
  background-color: #fff; 
  padding: 2rem 4rem;
  border: 1px solid #e5e7eb;
  border-radius: 1rem;
}

#tiposProjetos div {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  position: relative;
}

.spanTiposProjetos {
  font: var(--font-xl);
  color: var(--v3);
}

#tiposProjetos div span:nth-child(2) {
  font: var(--font-m);
  color: #6b7280;
}

#article3 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#article3 h2 {
  font: var(--font-xl);
  color: var(--v1);
}

#article3 p {
  font: var(--font-s);
  color: var(--v1);
}

#projetosArticle3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

#projetosArticle3 div {
  background: #fff;
  padding: 1rem 2rem;
  border: 1px solid #c3c3c3;
  border-radius: 1rem;
}

#projetosArticle3 p {
  font: var(--font-mb);
  color: var(--v1);
}

#projetosArticle3 span {
  color: var(--v2);
}